<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mindscribe-Delete <%= filename %></title>
    <link rel="icon" href="/images/icon.png" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="/stylesheets/delete.css" />
</head>
<body>
    <div class="container">
        <h1>Are you sure you want to delete <%= filename %> permanently?</h1>
        <form action="/delete/<%= filename %>" method="post">
            <button>Delete</button>
            <button>Cancel</button>
        </form>
    </div>
</body>
</html>
